[FORMAT]

# Maximum number of characters on a single line.
max-line-length=99

# Maximum number of lines in a module
max-module-lines=1500

[BASIC]

# Regular expression which should only match correct method names
method-rgx=[a-zA-Z_][a-zA-Z0-9_]{2,40}$

# Regular expression which should only match correct function names
function-rgx=[a-z_][a-zA-Z0-9_]{2,80}$


good-names=logger,error_mapper,_,ex,pytestmark

# I don't know why, but that beheaves strangly
ignored-classes=socket,unicodedata


[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME

# Minimum number of public methods for a class is set to 0.
min-public-methods=0

[MESSAGES CONTROL]

disable=I,bad-continuation
